# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VSCode settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data files
*.csv
*.tsv
*.dat
*.db
*.sqlite
*.h5

# Model files
*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.pth

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Others
*.bak
*.swp
*.swo

# Workspace settings
ProjectML.code-workspace